*.log
*.aux
geom_impact_poly_cython.c
boris_cython.c
#*.beam
logfile.txt
*progress.txt
#*.input
#*.mat
*.html
*.o
*.so
*.pyc
build/
scripts/
*~
.#*
*sussix.inp
.project
.pydevproject
*.h5
*.h5part
.ipynb_checkpoints
Pyecltest.mat
Pyecltest_angle2D.mat
Pyecltest_angle3D.mat
*.png
*.swp
test_multipole
*STDERR
*STDOUT
.ropeproject
*.inputc
*.beamc
*.bak
*.out
Pyecltest_angle3D_electron1.mat
Pyecltest_angle3D_electron2.mat
Pyecltest_angle3D_electron3.mat


other/charging_effects/test_scripts/chamber.mat
testing/tests_PyEC4PyHT/progress
testing/tests_PyEC4PyHT/test_saving__iter0.mat
testing/tests_PyEC4PyHT_multibunch/test_saving__iter0.mat
testing/tests_PyEC4PyHT_multibunch/test_saving__iter1.mat
testing/tests_buildup/LHC_ArcDipReal_450GeV_sey1.70_2.5e11ppb_bl_1.00ns_checkpoint/MP_state_0.mat
testing/tests_buildup/LHC_ArcDipReal_450GeV_sey1.70_2.5e11ppb_bl_1.00ns_checkpoint/MP_state_1.mat
testing/tests_buildup/LHC_ArcDipReal_450GeV_sey1.70_2.5e11ppb_bl_1.00ns_checkpoint/checkpoints/
testing/tests_buildup/LHC_ArcDipReal_450GeV_sey1.70_2.5e11ppb_bl_1.00ns_checkpoint/efield_video/
testing/tests_buildup/LHC_ArcDipReal_450GeV_sey1.70_2.5e11ppb_bl_1.00ns_checkpoint/rho_video/
testing/tests_buildup/LHC_ArcDipReal_450GeV_sey1.70_2.5e11ppb_bl_1.00ns_checkpoint/simulation_state_0.pkl
testing/tests_buildup/LHC_ArcDipReal_450GeV_sey1.70_2.5e11ppb_bl_1.00ns_checkpoint/simulation_state_1.pkl
testing/tests_buildup/LHC_ArcDipReal_450GeV_sey1.70_2.5e11ppb_bl_1.00ns_stress_saver/MP_state_0.mat
testing/tests_buildup/LHC_ArcDipReal_450GeV_sey1.70_2.5e11ppb_bl_1.00ns_stress_saver/MP_state_1.mat
testing/tests_buildup/LHC_ArcDipReal_450GeV_sey1.70_2.5e11ppb_bl_1.00ns_stress_saver/efield_video/
testing/tests_buildup/LHC_ArcDipReal_450GeV_sey1.70_2.5e11ppb_bl_1.00ns_stress_saver/rho_video/
testing/tests_buildup/LHC_ArcDipReal_450GeV_sey1.70_2.5e11ppb_bl_1.00ns_stress_saver/simulation_state_0.pkl
testing/tests_buildup/LHC_ArcDipReal_450GeV_sey1.70_2.5e11ppb_bl_1.00ns_stress_saver/simulation_state_1.pkl
testing/tests_buildup/progress

