include README.md Makefile setup_pyecloud cythonize release.py
recursive-include PyECLOUD *.py *.pyx *.pxd *.c *.h *.f
recursive-include tests *.py *.input *.beam
recursive-include examples *.py *.md
global-exclude *.so *.pyd *.pyc
